@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');

:root {
  --primary-color: #e69d00;
  --secondary-color: #c9d430;
  --accent1-color: #4f63c0;
  --accent2-color: #74b35b;
  
  --heading-font: 'Unbounded', sans-serif;
  --paragraph-font: 'Sigmar', sans-serif;

  --nav-background-color: #707072;
  --nav-link-color: #00e1ff;
  --nav-hover-link-color: #ffc98f;
  --nav-hover-background-color: #636e49;
}

* {
  margin: auto;
  max-width: 1200px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 20px;
  color: var(--accent1-color);
}

header img {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

header h1 {
  position: absolute;
}

p {
  color: #000000;
}

h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  padding: 15px;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--nav-background-color);
  padding: 20px; 
  height: 100px; 
}

nav a {
  display: inline-block;
  margin-right: 200px;
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
}

.hero {
  position: relative;
  height: 400px;
}

article p {
  display: block;
  text-align: left;
  width: auto;
  color: white;
  padding: 10px;
}

section p {
  padding: 10px;
}

.hero h1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  top: 50px;
  text-align: center;
  color: white;
  padding: 10px 0 10px;
}

.hero article {
  background-color: rgba(1, 0, 24, 0.4);
  position: absolute;
  height: 150px;
  width: 800px;
  top: 150px;
  left: 170px;
  padding: 25px;
}

.hero article img {
  display: block;
  width: 200px;
  height: auto;
  float: right;
}

.hero img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  overflow: auto;
}

.gallery img {
  display: block;
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

footer nav.sociallinks {
  display: flex;
  align-items: center;
  margin-left: auto;
}

footer nav.sociallinks a {
  margin-left: 1rem;
}

footer nav.sociallinks img {
  height: 2rem;
  width: 2rem;
}

footer a {
  margin-left: 1rem;
}

footer img {
  height: 2rem;
  width: 2rem;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

section h2 {
  grid-column: 1/3;
}

section p {
  grid-column: 1/3;
}

/* History */
section .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

figure {
  width: 100px;
  margin: 0;
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
}


.contact-image {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.image-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.image-team figure {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 10px;
}

.image-team img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-team figcaption {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  margin-top: 20px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  vertical-align: bottom;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button[type="submit"] {
  margin: 1rem auto;
}

button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(55, 192, 255);
}

form fieldset {
  margin-bottom: 20px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item label {
  display: block;
  margin-bottom: 5px;
}

.column1 {
  grid-column: 1;
}

.column2 {
  grid-column: 2;
}

.form-item.column1 {
  display: flex;
  align-items: center;
}

.form-item.column1 label {
  margin-right: .5rem;
}